body {
    background-color: #F8F8FF;
}

.menu-container{
	margin-left: 20px;
	margin-top: 20px;
}

.menu_one{
	margin-top: 5px;
}

.text_boder{
	margin-top: 200px;
}

.paragraph{
	text-indent: 15px;
	font-family: 'Times New Roman';
	font-size: 16px;
}

.text{
	margin-top: 20px;
}

.simpl_icon{
	font-size:40px;
	color:#DEB887;
}
